In [ ]:
import pandas as pd
url='https://raw.githubusercontent.com/thecodebloodedguy/career-guidance-ml-model/main/dataset-github.csv'
df=pd.read_csv(url)

In [ ]:
df

,Acedamic percentage in Operating Systems,percentage in Algorithms,Percentage in Programming Concepts,Percentage in Software Engineering,Percentage in Computer Networks,Percentage in Electronics Subjects,Percentage in Computer Architecture,Percentage in Mathematics,Percentage in Communication skills,Hours working per day,...,Interested Type of Books,Salary Range Expected,In a Realtionship?,Gentle or Tuff behaviour?,Management or Technical,Salary/work,hard/smart worker,worked in teams ever?,Introvert,Suggested Job Role
0,69,63,78,87,94,94,87,84,61,9,...,Prayer books,salary,no,stubborn,Management,salary,hard worker,yes,no,Database Developer
1,78,62,73,60,71,70,73,84,91,12,...,Childrens,salary,yes,gentle,Technical,salary,hard worker,no,yes,Portal Administrator
2,71,86,91,87,61,81,72,72,94,11,...,Travel,Work,no,stubborn,Management,work,hard worker,no,yes,Portal Administrator
3,76,87,60,84,89,73,62,88,69,7,...,Romance,Work,yes,gentle,Management,work,smart worker,yes,yes,Systems Security Administrator
4,92,62,90,67,71,89,73,71,73,4,...,Cookbooks,salary,no,stubborn,Management,work,hard worker,yes,yes,Business Systems Analyst
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19995,83,67,62,63,81,74,90,84,69,4,...,Journals,Work,yes,stubborn,Management,salary,smart worker,yes,no,Technical Engineer
19996,80,69,83,87,82,66,66,92,67,7,...,Cookbooks,salary,no,stubborn,Management,salary,hard worker,no,yes,E-Commerce Analyst
19997,83,70,80,87,64,85,69,94,88,7,...,Drama,Work,yes,gentle,Technical,work,hard worker,no,yes,Business Intelligence Analyst
19998,68,87,91,88,66,74,61,87,61,5,...,Travel,Work,no,gentle,Management,work,smart worker,yes,no,Software Quality Assurance (QA) / Testing
19999,73,77,74,84,70,65,92,73,90,7,...,Comics,Work,no,gentle,Management,work,hard worker,yes,no,Applications Developer

In [ ]:
for col in df.select_dtypes(include=['object']).columns:
    df[col] = df[col].astype('category')
    df[col] = df[col].cat.codes
df.dtypes

Acedamic percentage in Operating Systems    int64
percentage in Algorithms                    int64
Percentage in Programming Concepts          int64
Percentage in Software Engineering          int64
Percentage in Computer Networks             int64
Percentage in Electronics Subjects          int64
Percentage in Computer Architecture         int64
Percentage in Mathematics                   int64
Percentage in Communication skills          int64
Hours working per day                       int64
Logical quotient rating                     int64
hackathons                                  int64
coding skills rating                        int64
public speaking points                      int64
can work long time before system?            int8
self-learning capability?                    int8
Extra-courses did                            int8
certifications                               int8
workshops                                    int8
talenttests taken?                           int8
olympiads                                    int8
reading and writing skills                   int8
memory capability score                      int8
Interested subjects                          int8
interested career area                       int8
Job/Higher Studies?                          int8
Type of company want to settle in?           int8
Taken inputs from seniors or elders          int8
interested in games                          int8
Interested Type of Books                     int8
Salary Range Expected                        int8
In a Realtionship?                           int8
Gentle or Tuff behaviour?                    int8
Management or Technical                      int8
Salary/work                                  int8
hard/smart worker                            int8
worked in teams ever?                        int8
Introvert                                    int8
Suggested Job Role                           int8
dtype: object

In [ ]:
df.dropna()
df.isna().sum()

Acedamic percentage in Operating Systems    0
percentage in Algorithms                    0
Percentage in Programming Concepts          0
Percentage in Software Engineering          0
Percentage in Computer Networks             0
Percentage in Electronics Subjects          0
Percentage in Computer Architecture         0
Percentage in Mathematics                   0
Percentage in Communication skills          0
Hours working per day                       0
Logical quotient rating                     0
hackathons                                  0
coding skills rating                        0
public speaking points                      0
can work long time before system?           0
self-learning capability?                   0
Extra-courses did                           0
certifications                              0
workshops                                   0
talenttests taken?                          0
olympiads                                   0
reading and writing skills                  0
memory capability score                     0
Interested subjects                         0
interested career area                      0
Job/Higher Studies?                         0
Type of company want to settle in?          0
Taken inputs from seniors or elders         0
interested in games                         0
Interested Type of Books                    0
Salary Range Expected                       0
In a Realtionship?                          0
Gentle or Tuff behaviour?                   0
Management or Technical                     0
Salary/work                                 0
hard/smart worker                           0
worked in teams ever?                       0
Introvert                                   0
Suggested Job Role                          0
dtype: int64

In [ ]:
df

,Acedamic percentage in Operating Systems,percentage in Algorithms,Percentage in Programming Concepts,Percentage in Software Engineering,Percentage in Computer Networks,Percentage in Electronics Subjects,Percentage in Computer Architecture,Percentage in Mathematics,Percentage in Communication skills,Hours working per day,...,Interested Type of Books,Salary Range Expected,In a Realtionship?,Gentle or Tuff behaviour?,Management or Technical,Salary/work,hard/smart worker,worked in teams ever?,Introvert,Suggested Job Role
0,69,63,78,87,94,94,87,84,61,9,...,21,1,0,1,0,0,0,1,0,7
1,78,62,73,60,71,70,73,84,91,12,...,5,1,1,0,1,0,0,0,1,18
2,71,86,91,87,61,81,72,72,94,11,...,29,0,0,1,0,1,0,0,1,18
3,76,87,60,84,89,73,62,88,69,7,...,23,0,1,0,0,1,1,1,1,28
4,92,62,90,67,71,89,73,71,73,4,...,7,1,0,1,0,1,0,1,1,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19995,83,67,62,63,81,74,90,84,69,4,...,17,0,1,1,0,0,1,1,0,29
19996,80,69,83,87,82,66,66,92,67,7,...,7,1,0,1,0,0,0,0,1,10
19997,83,70,80,87,64,85,69,94,88,7,...,10,0,1,0,1,1,0,0,1,1
19998,68,87,91,88,66,74,61,87,61,5,...,29,0,0,0,0,1,1,1,0,24
19999,73,77,74,84,70,65,92,73,90,7,...,6,0,0,0,0,1,0,1,0,0

In [ ]:
X = df.drop(['Suggested Job Role'], axis=1)
Y=df['Suggested Job Role']

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, random_state=42)

In [ ]:
X_train

,Acedamic percentage in Operating Systems,percentage in Algorithms,Percentage in Programming Concepts,Percentage in Software Engineering,Percentage in Computer Networks,Percentage in Electronics Subjects,Percentage in Computer Architecture,Percentage in Mathematics,Percentage in Communication skills,Hours working per day,...,interested in games,Interested Type of Books,Salary Range Expected,In a Realtionship?,Gentle or Tuff behaviour?,Management or Technical,Salary/work,hard/smart worker,worked in teams ever?,Introvert
5894,76,70,72,89,91,63,60,68,83,9,...,1,24,0,1,0,0,0,1,0,1
3728,70,63,68,94,84,80,69,69,84,10,...,0,8,1,0,0,1,1,1,0,1
8958,78,73,71,84,62,79,76,62,91,6,...,0,0,0,0,1,1,0,1,1,0
7671,80,60,79,85,86,83,81,67,73,9,...,1,13,1,0,1,0,1,0,1,0
5999,73,78,76,60,64,83,84,74,67,4,...,1,6,0,1,1,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11284,85,93,91,72,89,84,75,78,73,12,...,0,5,0,1,1,0,0,1,0,1
11964,66,62,90,81,62,78,72,72,79,6,...,1,16,0,1,0,1,0,1,0,0
5390,83,91,89,93,73,61,84,86,72,7,...,1,1,0,0,1,1,0,1,0,1
860,83,64,82,86,71,80,75,66,68,6,...,1,17,1,0,1,0,1,1,1,0
15795,78,88,61,65,69,90,62,72,84,5,...,0,29,0,1,1,1,1,1,1,1

In [ ]:
from sklearn.linear_model import LogisticRegression
lnr = LogisticRegression()
lnr.fit(X_train, Y_train)

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py:818: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG,

LogisticRegression()

In [ ]:
Y_lnr_train_pred = lnr.predict(X_train)
Y_lnr_test_pred = lnr.predict(X_test)

In [ ]:
from sklearn.metrics import mean_squared_error, r2_score
lnr_train_mse = mean_squared_error(Y_train, Y_lnr_train_pred)
lnr_train_r2 = r2_score(Y_train, Y_lnr_train_pred)
lnr_test_mse = mean_squared_error(Y_test, Y_lnr_test_pred)
lnr_test_r2 = r2_score(Y_test, Y_lnr_test_pred)

In [ ]:
print(lnr_train_mse)

13.1921875

In [ ]:
lnr_results = pd.DataFrame(['Logistic Regression',lnr_train_mse, lnr_train_r2, lnr_test_mse, lnr_test_r2]).transpose()
lnr_results.columns = ['Method','Training MSE','Training R2','Test MSE','Test R2']

In [ ]:
lnr_results

                Method Training MSE Training R2 Test MSE   Test R2
0  Logistic Regression    13.192187    0.858344  14.2355  0.845303

In [ ]:
from sklearn.tree import DecisionTreeClassifier
rf = DecisionTreeClassifier()
rf.fit(X_train, Y_train)

DecisionTreeClassifier()

In [ ]:
Y_rf_train_pred = rf.predict(X_train)
Y_rf_test_pred = rf.predict(X_test)

In [ ]:
from sklearn.metrics import mean_squared_error, r2_score
rf_train_mse = mean_squared_error(Y_train, Y_rf_train_pred)
rf_train_r2 = r2_score(Y_train, Y_rf_train_pred)
rf_test_mse = mean_squared_error(Y_test, Y_rf_test_pred)
rf_test_r2 = r2_score(Y_test, Y_rf_test_pred)

In [ ]:
from sklearn.ensemble import RandomForestClassifier
rf_m = RandomForestClassifier(max_features=2, random_state=42, oob_score=True)
rf_m.fit(X_train, Y_train)

RandomForestClassifier(max_features=2, oob_score=True, random_state=42)

In [ ]:
Y_rfm_train_pred = rf_m.predict(X_train)
Y_rfm_test_pred = rf_m.predict(X_test)

In [ ]:
from sklearn.metrics import mean_squared_error, r2_score
rfm_train_mse = mean_squared_error(Y_train, Y_rfm_train_pred)
rfm_train_r2 = r2_score(Y_train, Y_rfm_train_pred)
rfm_test_mse = mean_squared_error(Y_test, Y_rfm_test_pred)
rfm_test_r2 = r2_score(Y_test, Y_rfm_test_pred)

In [ ]:
rf_results = pd.DataFrame(['Descision Tree Classifier',rf_train_mse, rf_train_r2, rf_test_mse, rf_test_r2]).transpose()

In [ ]:
rf_results.columns = ['Method','Training MSE','Training R2','Test MSE','Test R2']
rf_results

                      Method Training MSE Training R2  Test MSE   Test R2
0  Descision Tree Classifier          0.0         1.0  14.39425  0.843578

In [ ]:
rfm_results = pd.DataFrame(['Random forest Classifier',rfm_train_mse, rfm_train_r2, rfm_test_mse, rfm_test_r2]).transpose()

In [ ]:
rfm_results.columns = ['Method','Training MSE','Training R2','Test MSE','Test R2']
rfm_results

                     Method Training MSE Training R2  Test MSE   Test R2
0  Random forest Classifier          0.0         1.0  13.88175  0.849148

In [ ]:
res_list=[rfm_results,rf_results,lnr_results]
results=pd.concat(res_list)

In [ ]:
results

                      Method Training MSE Training R2  Test MSE   Test R2
0   Random forest Classifier          0.0         1.0  13.88175  0.849148
0  Descision Tree Classifier          0.0         1.0  14.39425  0.843578
0        Logistic Regression    13.192187    0.858344   14.2355  0.845303

In [ ]:
from numpy import loadtxt
from xgboost import XGBClassifier
xgb=XGBClassifier()
xgb.fit(X_train,Y_train)

XGBClassifier(objective='multi:softprob')

In [ ]:
Y_xgb_train_pred = xgb.predict(X_train)
Y_xgb_test_pred = xgb.predict(X_test)

In [ ]:
from sklearn.metrics import mean_squared_error, r2_score
xgb_train_mse = mean_squared_error(Y_train, Y_xgb_train_pred)
xgb_train_r2 = r2_score(Y_train, Y_xgb_train_pred)
xgb_test_mse = mean_squared_error(Y_test, Y_xgb_test_pred)
xgb_test_r2 = r2_score(Y_test, Y_xgb_test_pred)

In [ ]:
xgb_results = pd.DataFrame(['XGBoost',rf_train_mse, rf_train_r2, rf_test_mse, rf_test_r2]).transpose()

In [ ]:
xgb_results.columns = ['Method','Training MSE','Training R2','Test MSE','Test R2']
xgb_results

    Method Training MSE Training R2  Test MSE   Test R2
0  XGBoost          0.0         1.0  14.39425  0.843578

In [ ]:
res_list=[rfm_results,rf_results,lnr_results,xgb_results]
results=pd.concat(res_list)

In [ ]:
results

                      Method Training MSE Training R2  Test MSE   Test R2
0   Random forest Classifier          0.0         1.0  13.88175  0.849148
0  Descision Tree Classifier          0.0         1.0  14.39425  0.843578
0        Logistic Regression    13.192187    0.858344   14.2355  0.845303
0                    XGBoost          0.0         1.0  14.39425  0.843578

**Now from above data Random Forest classifier is chosen as the ML model used. So, We will create a prediction function to obtain the Job role as per user input.**

In [ ]:
import numpy as np
def suggest(att_list):

  role_sug=rf_m.predict(np.array(att_list))
  return role_sug